---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import BlogPostsList from '../components/BlogPostsList.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf()
);

const seo = {
  title: "Diego Guisande's Tech Blog",
  description: "Diego Guisande's blog is the go-to resource for aspiring software engineers." + 
    "With a focus on breaking into the industry, Diego shares his personal journey, practical tips," + 
    "and insights on the latest trends and technologies in software development." 
}
---

<style>
  .home-hero-text__container {
    padding: 5vh 0;
  }
  h1 {
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container>
    <div class="home-hero-text__container">
      <h1 class="fade-in">Diego's Blog</h1>
    </div>
    <BlogPostsList posts={posts}/>
  </Container>
</Layout>

